

button{
  background-color: $main-color;
  color:$sub-color;
  padding: 3% 15%;
  font-weight: bold;
  transition: .3s;
}
button:hover{
  background-color: $sub-color;
  color:$main-color;
  padding: 3% 15%;
  font-weight: bold;
  // border: 1px solid $main-color;
}