button{
  background-color: $color_cold40;
  width: 125px;
  height: 125px;
  transition: .3s;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img{
    width: 42px;
    height: 42px;
  }
  span{
    color:$sub-color;
  }
}

button:hover{
  background-color: $color_cold40;
}

button>a {
  background-color: inherit;
}
