// footer
footer{
  margin:0 100px;
  background-color: $sub-color;
  margin-top: -50px;
  position: relative;
  h2{
    text-align: left;
  }
  a:hover{
    opacity: 0.5;
  }
  .copyright{
    display: block;
    text-align: center !important;
  }
  #to_top{
    position: fixed;
    right: 8%;
    bottom: 155px;
    opacity: 0;
    transition: opacity .3s;
}
  #to_top.scrolled {
    opacity: 1;
  }
  #to_top::before{
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      left: 11px;
      width: 2px;
      height: 100px;
      background: #666;
  }
  #to_top::after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid;
      border-color: transparent transparent transparent #666;
      transform: rotate(135deg);
  }
}

@media (max-width:599px){
  footer{
    margin:0;
  }
}