// footer
footer {
  margin: 0 72px;
  // background-color: $sub-color;
  margin-top: -50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  color:$color-cold80;
  font-weight: 400;

  img{
    width: 118px;
    height: 118px;
  }
  .footer_text{
    padding: 0 38% 0 5%;
    h2{
      text-align: left;
      font-size: 32px;
      color:$color-cold80 !important;
    }
    p{
      color:$color-cold80 !important;

    }
  }

  .button{
    margin-left:auto;
    margin-right: 16px;
  }
  .footer-next :hover {
    color: gray;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: block;
    text-align: center !important;
  }

  .mentions-legales {
    display: block;
    text-align: right;
  }

  #to_top {
    position: fixed;
    right: 8%;
    bottom: 155px;
    opacity: 0;
    transition: opacity .3s;
  }

  #to_top.scrolled {
    opacity: 1;
  }

  // #to_top::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: -2px;
  //   left: 11px;
  //   width: 2px;
  //   height: 100px;
  //   background: #666;
  // }

  // #to_top::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 20px;
  //   height: 20px;
  //   border: 2px solid;
  //   border-color: transparent transparent transparent #666;
  //   transform: rotate(135deg);
  // }
}

@media (max-width:599px) {
  footer {
    margin: 0;
  }
  .mentions-legales {
    display: block;
    text-align: left !important;
  }
}
