// home
.hero{
  text-align: right;
}
section{
  &.profile{
    position: relative;
  }
}

h2{
  font-weight: bold;
  text-align: right;
}
.intro{
  text-align: left;
  p:first-child{
    font-weight: bold;
  }
}
.home-text{
  padding: 50px 100px;
}

.kana{
  height: 86px;
  vertical-align: top;
}
ul.sort{
  text-align: right;
  padding-bottom: 50px;
}
.travaux{
  img{
    width: 248px;
    height: 160px;
    object-fit: cover;
  }
}
.readMore{
  display: block;
  border-bottom: 1px solid;
  position: absolute;
  right: 0;
  top:180px;
  font-weight: bold;
  &:hover{
    background-color: $main-color;
    color:$sub-color;
  }
}
.p-img{
  height: 300px;
  width:100% !important;
  object-fit: cover;
}
// animate
.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .3s, transform .3s;
}
.animate.slide-from-left {
  transform: translateX(-40px);
}

.animate.slide-from-right {
  transform: translateX(40px);
}

.animate.appear {
  opacity: 1;
  transform: none;
}
// end of animate

@media (max-width:599px){
  .home-text{
    padding: 0;
  }
  .readMore{
    position: initial;
    transform: rotate(0deg);
  }
  .p-img{
    height: 100px;
  }
}