// home
.hero{
  text-align: right;
}
section{
  &.profile{
    position: relative;
  }
}
.pc_hid{
  display: none;
}
.profile{
  display: flex;
  align-items: top;
  justify-content: center;
  gap:64px;
  .button{
    margin-bottom: 500px;
  }
}
.work_image{
  position: relative;
  width: 790px;
  min-height: 400px;
}
.work_image img{
  object-fit:  cover;
}
.work_image video{
  width: 790px;
}
h2{
  font-weight: bold;
  text-align: right;
}
.intro{
  text-align: left;
  margin-bottom: 10px;
  // padding: 50px 100px;
  p{
    color: $color-cold80 !important;
  }
  p:first-child{
    font-weight: bold;
  }
}
.home-text{
  // padding: 50px 100px;
  width: 324px;
}

.kana{
  height: 86px;
  vertical-align: top;
}
ul.sort{
  text-align: right;
  padding-bottom: 50px;
}
ul.sort li{
  padding-top:5px;
}
ul.sort li a{
  font-weight: bold;
}

.travaux{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  img{
    width: 248px;
    height: 160px;
    object-fit: cover;
  }
}

.travaux-title{
  display: flex;
  align-items: center;
  gap:32px;
  padding: 8% 8% 0% 8%;
}
h2{
  color: $color-hot80;
}
// .readMore{
//   display: block;
//   border-bottom: 1px solid;

//   font-weight: bold;
//   &:hover{
//     background-color: $color_gray100;
//     color:$sub-color;
//   }
// }
// .seeMore{
//   display: block;
//   border-bottom: 1px solid;
//   font-weight: bold;
//   &:hover{
//     background-color: $color_gray100;
//     color:$sub-color;
//   }
// }
.p-img{
  max-height: 300px;
  // width:130% !important;
  object-fit: contain;
}
// animate
// .animate {
//   opacity: 0;
//   transform: translateY(40px);
//   transition: opacity .3s, transform .3s;
// }
// .animate.slide-from-left {
//   transform: translateX(-40px);
// }

// .animate.slide-from-right {
//   transform: translateX(40px);
// }

// .animate.appear {
//   opacity: 1;
//   transform: none;
// }
// end of animate


.work_text{
  width: 356px;
  padding: 16px;
  p:first-child{
    font-weight: bold;
  }
}





// carousel
$animationSpeed: 40s;

// Animation
// @keyframes scroll {
//   0% { transform: translateX(0); }
//   100% { transform: translateX(calc(-250px * 4))}
// }


// Styling
// .body-slider{
//   align-items: center;
//   background: #E3E3E3;
//   display: flex;
//   justify-content: center;
//   margin-bottom: 15px;
// }


// $animationSpeed: 40s;

// Animation
// @keyframes scroll {
//   0% { transform: translateX(0); }
//   100% { transform: translateX(calc(-250px * 4))}
// }


// Styling
// .slider {
//   background: white;
//   box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
//   height: 155px;
//   margin: auto;
//   overflow:hidden;
//   position: relative;
//   width: 960px;
  
  
//   &::after {
//     right: 0;
//     top: 0;
//     transform: rotateZ(180deg);
//   }

//   &::before {
//     left: 0;
//     top: 0;
//   }
  
//   .slide-track {
//     animation: scroll $animationSpeed linear infinite;
//     display: flex;
//     width: calc(250px * 4);
//   }
  
//   .slide {
//     height: 200px;
//     width: 250px;
//   }
// }

// end of carousel
@media (max-width:599px){
  .home-text{
    padding: 0;
    text-align: left;
  }
  // .readMore{
  //   position: initial;
  //   transform: rotate(0deg);
  // } 
  // .seeMore{
  //   position: initial;
  //   transform: rotate(0deg);
  // }
  .p-img{
    height: 100px;
  }
  .pc_hid{
    display: block;
 }

 .heroSkills{
   font-size: 25px;
   text-align: right;
 }
 .profile{
    width:70%;
  }
}

@media (min-width:600px){
   .heroSkills{
    font-size:$fs-hero-skills;
    font-weight: 800;
    text-align: right;
  }
}


// Video
.home-hero{
  display:flex;
  align-items: center;
  justify-content: center;
}
.home-hero_text{
  width: 740px;
}

.home-hero video{
  width: 360px;
  height: 360px;
  z-index: 2;
  padding-bottom: 32px;
  animation: sway 4s ease-out infinite;
}
@keyframes sway {
  /* 最初と最後の位置 */
  0%,
  100% {
      transform: translateY(0px);
  }
  /* 途中の位置 */
  50% {
      transform: translateY(50px);
  }
}

.home_hero_img{
  width: 620px;
  height: auto;
  position: absolute;
  left:-70px;
  top: 490px;
  z-index: 1;
}