// home
.hero{
  text-align: right;
}
section{
  &.profile{
    position: relative;
  }
}

.home_hero_img{
  max-width: 620px;
  height: auto;
  position: absolute;
  left:-70px;
  top: 490px;
  z-index: 1;
}
.pc_hid{
  display: none;
}
.profile{
  display: flex;
  align-items: top;
  justify-content: center;
  gap:64px;
  .button{
    margin-bottom: 500px;
  }
  .home-text{
    width: auto;
    max-width: 500px;
  }
}
.work{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2vw;
}

.work_image{
  position: relative;
  max-width: 500px;
  width: auto;
  height: auto;
  padding: 16px;
}
.work_image img{
  object-fit:  cover;
  width: 100%;
}

h2{
  font-weight: bold;
  text-align: right;
}
.intro{
  text-align: left;
  margin-bottom: 10px;
  // padding: 50px 100px;
  p{
    color: $color-cold80 !important;
  }
  p:first-child{
    font-weight: bold;
    padding-bottom:16px;
  }
}


.kana{
  height: 86px;
  vertical-align: top;
}
ul.sort{
  text-align: right;
  padding-bottom: 50px;
}
ul.sort li{
  padding-top:5px;
}
ul.sort li a{
  font-weight: bold;
}
.eye_text{
  color:$color_gray100;
  text-align: center;
  padding: 5px;
  display: inline-block;
}

.travaux-title{
  display: flex;
  align-items: center;
  gap:32px;
  padding: 8% 8% 0% 8%;
}
h2{
  color: $color-hot80;
}

.p-img{
  max-height: 300px;
  height: auto;
  object-fit: contain;
}
// animate
// .animate {
//   opacity: 0;
//   transform: translateY(40px);
//   transition: opacity .3s, transform .3s;
// }
// .animate.slide-from-left {
//   transform: translateX(-40px);
// }

// .animate.slide-from-right {
//   transform: translateX(40px);
// }

// .animate.appear {
//   opacity: 1;
//   transform: none;
// }
// end of animate


.work_text{
  max-width: 500px;
  width:auto;
  padding: 16px;
  p:first-child{
    font-weight: bold;
    padding-bottom: 16px;
  }
}





// carousel
$animationSpeed: 40s;

// Animation
// @keyframes scroll {
//   0% { transform: translateX(0); }
//   100% { transform: translateX(calc(-250px * 4))}
// }


// Styling
// .body-slider{
//   align-items: center;
//   background: #E3E3E3;
//   display: flex;
//   justify-content: center;
//   margin-bottom: 15px;
// }


// $animationSpeed: 40s;

// Animation
// @keyframes scroll {
//   0% { transform: translateX(0); }
//   100% { transform: translateX(calc(-250px * 4))}
// }


// Styling
// .slider {
//   background: white;
//   box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
//   height: 155px;
//   margin: auto;
//   overflow:hidden;
//   position: relative;
//   width: 960px;
  
  
//   &::after {
//     right: 0;
//     top: 0;
//     transform: rotateZ(180deg);
//   }

//   &::before {
//     left: 0;
//     top: 0;
//   }
  
//   .slide-track {
//     animation: scroll $animationSpeed linear infinite;
//     display: flex;
//     width: calc(250px * 4);
//   }
  
//   .slide {
//     height: 200px;
//     width: 250px;
//   }
// }

// end of carousel

// MOBILE
@media (max-width:599px){
  .home-hero{
    flex-direction: column-reverse;
    margin-top:11vh;
    .home-text{
      padding: 0;
      width: 324px;
      }
    }
    .home-hero_visual video{
      width: 250px;
    }
    .home-hero_text{
      width: 100%;
      text-align: right;
    }
    .home_hero_img{
      width: 390px;
    }
    .travaux{
      width: 100%;
      .bg_blue{
        flex-direction: column-reverse;
      }
    }
    .travaux-title{
      flex-direction: column;
    }
    .work{
      flex-direction: column;
      gap:16px;
    }
    .work_image{
      width: 100%;
    }
    .work img{
      width: 100%;
      height: auto;
    }
    .travaux{
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      img{
        width: auto;
        height: auto;
        object-fit: cover;
      }
    }
  }

  

  .pc_hid{
    display: block;
 }

 .heroSkills{
   font-size: 25px;
   text-align: right;
 }



@media (min-width:600px){
   .heroSkills{
    font-size:$fs-hero-skills;
    font-weight: 800;
    text-align: right;
  }

}

@media (max-width:599px){
  .profile{
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
// Video
.home-hero{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:6vw;
}
.home-hero_text{
  max-width: 740px;
}

.home-hero video{
  width: 360px;
  height: 360px;
  z-index: 2;
  padding-bottom: 32px;
  animation: sway 4s ease-out infinite;
}
@keyframes sway {
  /* 最初と最後の位置 */
  0%,
  100% {
      transform: translateY(0px);
  }
  /* 途中の位置 */
  50% {
      transform: translateY(50px);
  }
}

