/* Grid layout  */
.travaux-list {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(12, 1fr);
	// grid-template-columns: repeat(auto-fit, minmax(3fr));
	grid-auto-rows: 150px;
	grid-auto-flow: row dense;
	line-height: 20px;
}

/* Items  */
// .item {
// 	position: relative;
// 	display: -webkit-box;
// 	display: -ms-flexbox;
// 	display: flex;
// 	-webkit-box-orient: vertical;
// 	-webkit-box-direction: normal;
// 	-ms-flex-direction: column;
// 	flex-direction: column;
// 	-webkit-box-pack: end;
// 	-ms-flex-pack: end;
// 	justify-content: flex-end;
// 	-webkit-box-sizing: border-box;
// 	box-sizing: border-box;
// 	background: #0c9a9a;
// 	color: #fff;
// 	grid-column-start: auto;
// 	grid-row-start: auto;
// 	color: #fff;
// }
.item {
	width: 450px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.item{
	// background: url("../img/p2.jpg");
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
	box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	cursor: pointer;
	counter-increment: item-counter;
	border-bottom: 3px solid $color_gray100;
}
/* End item */

/* categories ||  */
.item span, 
.work_image span{
	width: auto;
	margin: 20PX;
	z-index: 10;
	padding: 7px;
	border-radius: 4px;
  display:inline-block;
  position: absolute;
  top: -7px;
  right: -4px;
	color:$sub-color;
	display: block;
}

.item .web,
.work_image .web{
	background: $color_cold80;
}
.item .motion,
.work_image .motion{
	background: $color_hot80;
}
.travaux_img{
	position: absolute;
	right: 0;
	top:0;
}

#rainbowservicenotif {
	background-image: url("../img/rainbow/1.png");
}
#quisuisje {
	background-image: url("../img/qui_suis_je/24.jpg");
}

#ademe{
	background-image: url("../img/ademe/mockup_1.png");
}

#dalimsustainability {
	background-image: url("../img/dalim-sust1.jpg");
}
#kakekomigyoza {
	background-image: url("../img/p2.jpg");
}

#sunnyphotostory {
	background-image: url("../img/p4.jpg");
}

#hackmybody {
	background-image: url("../img/hkm1.png");
}
#deadlyBroadcast{
	background-image: url("../img/deadlybroadcast.jpg") !important;
}
#dalimdevportal{
	background-image: url("../img/dalim-devportal1.jpg");
}

.item:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $color_gray100;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	
}

.item:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.item:hover:after {
	opacity: 0;
}

.medium {
	grid-row-end: span 2;
}

.large {
	grid-row-end: span 3;
	grid-column: span 3;
}

.full {
	grid-column-end: auto;
}

@media screen and (min-width: 768px) {
	.full {
		grid-column: 1/-1;
		grid-row-end: span 3;
	}
}

.details {
	position: relative;
	z-index: 1;
	padding: 15px;
	background: #fff;
	letter-spacing: 1px;
	color: #828282;
}

.details:before {
	font-weight: bold;
	font-size: 1.1rem;
	padding-right: 0.5em;
	color: #444;
}
@media (max-width:599px){
	.travaux-list{
		width:70%;
	}
	.sort-back{
		text-align:right;
	}
	.travaux-single-text{
		text-align: left;

	}
}

// single
.travaux-single{
	display: flex;
	justify-content: center;
	gap:150px;
	h4{
		font-size: 48px;
		font-weight: bold;
	}
} 
.travaux-single-info{
	float: left;
	div{
		padding: 8px 0;
	}
}
.travaux-single-img-horizontal{
	object-fit: cover;
	width: 130%;
}
.travaux-single-img-vertical{
	display: flex;
	img{
		width: 30%;
		margin-left:10px;
	};
}

.travaux-single-title,
.travaux-single-subtitle,
.travaux-single-text-tool{
	text-align: center;
}

.travaux-single-title{
	color:$color-hot80;
	font-size: 144px;
	font-weight: 800;
	margin-top:150px;
}
.travaux-single-subtitle{
	font-size: 60px;
	font-weight: bold;
	line-height: 1;
}

.travaux-single-text{
	width: 600px;
	padding: 16px 0;
	line-height: 1.8;
}
.travaux-single-link{
	background-color: $color_gray100;
	color:#fff;
	display: block;
	padding: 50px 10px 50px 0;
	margin:50px 0;
	text-align: center;
	border:1px solid gray;
	font-size:40px;
	font-weight: bold;
}

.travaux-single-link:hover{
	background-color: $sub-color;
	color:$color_gray100;
}
.travaux-back{
	display: block;
	text-decoration: underline;
	padding: 10px 10px 10px 0;
	text-align: center;
	margin-bottom:50px;
}

.travaux-back:hover{
	opacity: 0.5;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.see_project_linkedin,.see_project_figma{
	background-color: $color-cold80;
	height: 67px;
	display: flex;
	// display: inline-block;
	align-items: center;
	padding: 8px;
	gap:16px;
	margin:26px 0;
	span{
		color:$sub-color;
		padding:5px;
	}
	img{
		height: 24px;
		width: 24px;
		margin-left:16px;
	}
}

.see_project_figma{
	width: auto;
}


// Flickity
.gallery {
  background: $sub-color;
}

.gallery-cell {
  width: 66%;
  height: 460px;
  margin-right: 16px;
  counter-increment: gallery-cell;
	object-fit: contain;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.travaux-single-video{
	margin:16px auto;
	text-align: center;
}
.travaux-single-video video{
	max-width: 1280px;
	width: 100%;
	height: auto;
	margin:16px auto;
}
.travaux-single-video img{
	max-width: 1280px;
	width: 100%;
	height: auto;
	margin:16px auto;
}

.travaux-single-text{
	color:$color_gray100;
}