// footer
footer{
  margin:0 100px;
  background-color: $sub-color;
  margin-top: -50px;

  h2{
    text-align: left;
  }
  a{
    display: block;
    text-align: center;
  }
  .thintop{
    position: relative;
    float: right;
}
.thintop::before{
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 11px;
    width: 2px;
    height: 100px;
    background: #666;
}
.thintop::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-color: transparent transparent transparent #666;
    transform: rotate(135deg);
}
}

@media (max-width:599px){
  footer{
    margin:0;
  }
}