// home
.hero{
  text-align: right;
}
section{
  width: 50%;
  margin: 50px auto;
  &.profile{
    position: relative;
  }
}
h2{
  font-weight: bold;
  text-align: right;
}
.intro{
  text-align: left;
  p:first-child{
    font-weight: bold;
  }
}
.home-text{
  padding: 50px 100px;
}

.kana{
  height: 86px;
  vertical-align: top;
}
ul.sort{
  text-align: right;
  padding-bottom: 50px;
}
.travaux{
  img{
    width: 248px;
    height: 160px;
    object-fit: cover;
  }
}
.readMore{
  display: block;
  border-bottom: 1px solid;
  position: absolute;
  right: 0;
  top:180px;
  font-weight: bold;
  &:hover{
    background-color: $main-color;
    color:$sub-color;
  }
}


@media (max-width:599px){
  .home-text{
    padding: 0;
  }
  .readMore{
    position: initial;
    transform: rotate(0deg);
  }
}