* {
  font-family: "Barlow", sans-serif !important;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
* ::before,
* ::after {
  box-sizing: border-box;
}

h1 {
  color: #000;
}
h1.page-title {
  font-size: 144px;
  font-weight: 900;
  margin-top: 12vh;
}
h1.hero {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 60px;
}

p {
  font-size: 20px;
}

button {
  font-size: 60px;
}

main {
  background: linear-gradient(to right, #fff 0%, #fff 16%, #f2f2f2 16%, #f2f2f2 84%, #fff 84%, #fff 100%);
  margin: 0 auto;
}

.gray {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.gray:hover {
  filter: none;
  filter: contrast(200%);
  filter: hue-rotate(10deg);
}

div.small {
  font-size: 11px;
}
div .caption {
  position: absolute;
  top: 200px;
  left: 50px;
}
div .h-photo-date {
  position: absolute;
  top: -86px;
  left: -65px;
}

p {
  text-align: justify;
  text-justify: inter-ideograph;
}

img.h-img {
  width: 656px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ver {
  display: block;
  transform: rotate(90deg);
}

.h-photo {
  position: relative;
}

header {
  position: relative;
}
header .logo {
  text-align: left !important;
  margin-left: 0;
}
header .h-left {
  position: absolute;
  left: 0vw;
}
header .h-right {
  position: absolute;
  right: 0;
  top: 26vh;
}
header.h-photo-date {
  position: absolute;
  top: 100px;
}

ul.liens {
  text-align: left;
  margin: 5vh 50px 0 50px;
}
ul.liens li:last-child {
  margin-top: 5vh;
}

nav {
  padding: 50px 10px;
}
nav.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  margin-top: 37vh;
  text-align: center;
}

@media (max-width: 599px) {
  .liens, nav {
    display: none;
  }

  .h-photo {
    display: none;
  }

  .caption {
    top: 150px;
    left: -400px;
  }
}
footer {
  margin: 0 100px;
  background-color: #fff;
  margin-top: -50px;
}
footer h2 {
  text-align: left;
}
footer a {
  display: block;
  text-align: center;
}
footer .thintop {
  position: relative;
  float: right;
}
footer .thintop::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 11px;
  width: 2px;
  height: 100px;
  background: #666;
}
footer .thintop::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: transparent transparent transparent #666;
  transform: rotate(135deg);
}

@media (max-width: 599px) {
  footer {
    margin: 0;
  }
}
button {
  background-color: #000;
  color: #fff;
  padding: 3% 15%;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #fff;
  color: #000;
  padding: 3% 15%;
  font-weight: bold;
}

.hero {
  text-align: right;
}

section {
  width: 50%;
  margin: 50px auto;
}
section.profile {
  position: relative;
}

h2 {
  font-weight: bold;
  text-align: right;
}

.intro {
  text-align: left;
}
.intro p:first-child {
  font-weight: bold;
}

.home-text {
  padding: 50px 100px;
}

.kana {
  height: 86px;
  vertical-align: top;
}

ul.sort {
  text-align: right;
  padding-bottom: 50px;
}

.travaux img {
  width: 248px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.readMore {
  display: block;
  border-bottom: 1px solid;
  position: absolute;
  right: 0;
  top: 180px;
  font-weight: bold;
}
.readMore:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 599px) {
  .home-text {
    padding: 0;
  }

  .readMore {
    position: initial;
    transform: rotate(0deg);
  }
}
@media (max-width: 599px) {
  h1 {
    color: #000;
  }
  h1.page-title {
    font-size: 60px;
    font-weight: 900;
    margin-top: 12vh;
  }
  h1.hero {
    font-size: 30px;
    font-weight: 700;
  }

  h2 {
    font-size: 46px;
    /* 24px*/
  }

  p {
    font-size: 16px;
  }

  button {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */